body {
  background-image: url('../img/circuit-board.jpg');
}

h1 {
  font-family: fantasy,sans-serif;
  font-size: 60px;
  color: #fff;
}

h2 {
  font-family: monospace;
  color: gray;
}

h3 {
  text-align: center;
  font-family: cursive;
  margin-right: -40px;
}

ol {
  list-style-type: none;
  font-family: monospace;
  font-style: italic;
  font-size: 25px;
  color: lightgreen;
}

.design-track, .php-track, .ruby-track, .c-sharp-track {
  display: none;
  padding-top: 50px;
}

.container {
  text-align: center;
  background-color: #000;
  border-radius: 10px;
  color: #fff;
  height: 1050px;
}

.show {
  font-family: sans-serif;
  font-weight: bold;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  height: 150px;
  padding-top: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.design-track, .php-track, .c-sharp-track {
  font-family: sans-serif;
  font-weight: bold;
  background-color: #fff;
  border-radius: 10px;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 300px;
}

.btn {
  background-color: #fff;
  color: #000;
}

#form {
  background-color: #fff;
  margin: 80px;
  border-radius: 10px;
}
